.x_title h2 {}

.text-danger p {
    margin-bottom: -5px;
    color: red;
}




.pagina .clearfix a {
    background: #f3f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    box-shadow: 0 1px 0 #eaeaea, 0 1px 0 #ffffff inset;
    color: #717171;
    display: inline-block;
    float: left;
    font-weight: 700;
    line-height: 25px;
    margin-right: 4px;
    min-height: 25px;
    padding: 0 10px;
    text-decoration: none;
}
.pagina .clearfix strong{
    background: #f3f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    box-shadow: 0 1px 0 #eaeaea, 0 1px 0 #ffffff inset;
    color: red;
    display: inline-block;
    float: left;
    font-weight: 700;
    line-height: 25px;
    margin-right: 4px;
    min-height: 25px;
    padding: 0 10px;
    text-decoration: none;
}



