.x_title h2 {}

.text-danger p {
    margin-bottom: -5px;
    color: red;
}

.pagi a{
	color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagi a:active{
	background-color: #4CAF50;
    color: white;
}


