.x_title h2 {}

.text-danger p {
    margin-bottom: -5px;
    color: red;
}

nav a:focus, nav a:hover{
	z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

nav a{
	position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
nav strong{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
